/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Feb-2020, 9:05:22 PM
    Author     : lamis
*/

#background{
    -fx-background-color: radial-gradient(center 50% 50% , radius 40% , #ffebcd, #008080); 
    -fx-background-size: cover;
}
#pane{
    -fx-border-radius: 1000px;
}
#label{
    
}